@media screen {

    * {
        font-family: "Impact";
        font-size: 30px;
    }

    body {
        max-width: 900px;
        padding: 50px;
    }

    img.face {
      width: 100px;
      height:100px;
      border-radius: 50px;
    }
}
